html {
	scroll-behavior: smooth;
	font-size: 10px;
	font-family: 'Inter', sans-serif;
	overflow-x: auto;
}

::-webkit-scrollbar {
	display: none; 
	-ms-overflow-style: none; 
	scrollbar-width: none; 
	width: 0; 
	height: 0;
	background: transparent;  
}