.navigation {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   list-style: none;
   height: 100%;
   white-space: nowrap;
   overflow-x: auto;
   max-width: 100%;
}

.navigation li {
   margin-bottom: 0;
   font-size: 14px;
   display: flex;
   text-transform: uppercase;
   height: 100%;
   border-radius: 5px;
}

.navigation li a {
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: center;
   padding: 0 20px;
}

.navigation li:hover {
   color: white;
   background-color: rgb(15, 105, 190);
}

@media (max-width: 780px) {
   .navigation {
      gap: 0;
   }

   .navigation li a { 
      padding: 0 10px;
   }
}