.main {
  width: 100vw;
  height: 100vh;
  background-size: cover;

  &Navigation {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 0 8px rgba(45,41,38,0.3);
    backdrop-filter: blur(4px);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &Blur {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 42vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px); 
  }



    &Transparent {
      position: absolute;
      right: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;   
    }

    &Right {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
}

.scrolled {
  background-color: rgba(255,255,255,0);
}

@media (max-width: 640px) {
  .main {
    &Navigation {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
}