.main {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  
  &Blur {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 42vw;
    height: 100vh;
    overflow: hidden;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: bold;
    text-transform: lowercase;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px); 
  }



    &Transparent {
      position: absolute;
      right: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;   
    }

    &Right {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &TextContainer {
      max-width: 40vw;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &Text {
      margin-right: 1vw;
    }
}

