.appContainer {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   justify-content: center;
   align-items: center;
}

.section {
   margin-top: 100px;

   &Text {
      text-align: center;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   &Title {
      font-size: 2rem;
      text-transform: uppercase;
      color: rgb(15, 105, 190);
   }

   &Icon {
      font-size: 2.5rem;
      color: rgb(15, 105, 190);
   }
}

.address {
   font-size: 1.2rem;
   color: rgba(45,41,38,0.8);
}

