.appContainer {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   justify-content: center;
   align-items: center;
}

.title {
   color: rgb(15, 105, 190);
   font-size: 2rem;
   text-align: center;
}

.gallery {
   margin-top: 100px;
}


.dinnerMap {
   margin-top: 100px;
}

.ceremonyMap {
   margin-top: 100px;
}